prime101.py
list1/test.py
list2/test.py
list3/test.py
list4/test.py
list5/test.py
list6/test.py

list4/zad6.py
list4/zad20.py
list5/zad5.py
list5/zad6.py
list6/zad4_better.py

kolosy/2022-23/test.py
kolosy/2019-20
kolosy/2020-21/test.py
kolosy/2021-22/test.py
